body{
  margin: 0;
}
.nav-bar{
 position: fixed;
 top: 0px;
 background-color: aqua;
 width: 100%;
}
.page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.side-bar{
  background-color: aqua;
  position: fixed;
  left: 0px;
  height: 100%;
  margin-top: 70px;
}
.login-container{
  margin-top: 200px;
}
.home-container {
  margin-top: 200px;
}
.profile-container{
  margin-top: 200px;
}
.form-container{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}